body {
  background-color: lightsteelblue
}
.title {
  color: firebrick;
  display: grid;
  justify-content: center;
  margin-bottom: 2rem;
}
.test {
  color: black;
  display: flex;
  justify-content: center; 
  flex-wrap: wrap; 
}