body {
  background-color: lightsteelblue
}
.title {
  color: firebrick;
  display: grid;
  justify-content: center;
  margin-bottom: 4rem;
}
.table-body {
  color: black;
  display: flex;
  justify-content: center; 
  margin-right: 2rem;
  margin-left: 2rem;
}
